.navlinktext{
    color: black;
}
.navlinktext:hover{
    color: blue;
}
.liststyle{
    list-style-type:decimal;
    display: flex; 
    align-items: center; 
    flex-direction: column;
}
.background{
    background-color: lightgrey;
    height: 100%;
}