


/*my css*/
p {
  max-width: 680px;
}

.navBar {
  margin-top:-2%;
}
.container {
  font-family: sans-serif;
  align-items: center;
  background-color: lightgrey;
}
.nav-links {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
.navText {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 10%;
}
.navText:hover{
  color: blue;
}
